<alerts class="alerts">
    <div class="alert alert-warning alert-dismissible fade" role="alert">
        <strong></strong>
        <msg></msg>
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="alert alert-success alert-dismissible fade" role="alert">
        <strong>Успішно! </strong>
        <msg></msg>
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="alert alert-danger alert-dismissible fade" role="alert">
        <strong></strong>
        <msg></msg>
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</alerts>