<div class="tool-bar">
    <div class="notifications">
        <i data-role="button" data-event="toggle" class="fa fa-bell"></i>
        <div class="notifications-wrapper">
            <div class="title">
                Оповіщення
            </div>
            <div class="notifications-list">
            </div>
            <span data-event="more" style="color: #2196f3; cursor:pointer; padding: 10px"
                class="w-100 d-flex justify-content-center">Більше</span>
        </div>
    </div>
</div>
<div class="body">
    <div id="chart_div"></div>
</div>