<div class="tool-bar">
    <div class="notifications">
        <i data-role="button" data-event="toggle" class="fa fa-bell"></i>
        <div class="notifications-wrapper">
            <div class="title">
                Оповіщення
            </div>
            <div class="notifications-list">
            </div>
        </div>
    </div>
    <div class="body create-department">
        <input maxlength="64" placeholder="Назва Відділу" class="create-department__input" />
        <button class="create-department__button">Створити <i class="fa fa-plus-circle"></i></button>
    </div>
</div>
<div class="body">
    <table>
        <tbody class="departments">

        </tbody>
    </table>
</div>