<div class="tool-bar">
    <div class="body create-department">
        <input maxlength="64" placeholder="Назва підприємства" class="create-department__input" />
        <button class="create-department__button">Створити <i class="fa fa-plus-circle"></i></button>
    </div>
</div>
<div class="body">
    <table>
        <thead>
            <tr>
                <td>
                    Назва
                </td>
                <td>
                    Співробітники
                </td>
                <td>
                    Дата заснування
                </td>
                <td>
                    Сховище
                </td>
                <td>
                    Тариф
                </td>
            </tr>
        </thead>
        <tbody class="enterprises">
            <tr>
                <td class="wrapper">

                </td>
            </tr>
        </tbody>
    </table>
</div>