<div class="tool-bar">
    <div role="button" class="notifications" data-amount="7">
        <i role="button" class="notifications-toggle fa fa-bell"></i>
        <div class="notifications-wrapper">
            <div class="title">
                Оповіщення
                <a href="#">
                    <i class="fas fa-cog"></i>
                </a>
            </div>
            <div class="notifications-list">
                <div class="notification">
                    <img src="/img/Picture.png" alt="" />
                    <div class="body">
                        <div class="msg">
                            <a role="button" class="link">Lorem, ipsum.</a>
                            -"Lorem ipsum dolor sit amet Lorem, ipsum."
                        </div>
                        <div class="meta">Сьогодні</div>
                    </div>
                </div>
                <div class="notification">
                    <img src="/img/Picture.png" alt="" />
                    <div class="body">
                        <div class="msg">
                            <a role="button" class="link">Lorem, ipsum.</a>
                            -"Lorem ipsum dolor sit amet Lorem, ipsum."
                        </div>
                        <div class="meta">Сьогодні</div>
                    </div>
                </div>
                <div class="notification">
                    <img src="/img/Picture.png" alt="" />
                    <div class="body">
                        <div class="msg">
                            <a role="button" class="link">Lorem, ipsum.</a>
                            -"Lorem ipsum dolor sit amet Lorem, ipsum."
                        </div>
                        <div class="meta">Сьогодні</div>
                    </div>
                </div>
                <div class="notification">
                    <img src="/img/Picture.png" alt="" />
                    <div class="body">
                        <div class="msg">
                            <a role="button" class="link">Lorem, ipsum.</a>
                            -"Lorem ipsum dolor sit amet Lorem, ipsum."
                        </div>
                        <div class="meta">Сьогодні</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse-bar">
        <button class="toggle-btn">
            <i class="far fa-bars"></i>
        </button>
        <div class="body">
            <div>
                <button id="newTodo" class="item">
                    Нова задача
                    <i class="fas fa-plus-circle"></i>
                </button>
                <button id="existTodo" class="item">
                    До існуючих
                    <i class="fas fa-plus-circle"></i>
                </button>
                <button id="shareDoc" class="item">
                    Поділитися
                    <i class="fas fa-share"></i>
                </button>
                <button id="downloadDoc" class="item">
                    Скачати
                    <i class="fas fa-cloud-download-alt"></i>
                </button>
            </div>
            <button id="uploadDoc" class="item">
                Завантаити
                <i class="fas fa-cloud-download-alt"></i>
            </button>
        </div>
    </div>
</div>
<div class="body">
    <table>
        <tbody>
            <tr class="table-row">
                <td>
                    <div class="td-wrapper">
                        <img src="./img/docs-img/pdf.png" alt="" />
                        <span class="name">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </span>
                        <span class="extension">
                            .pdf
                        </span>
                    </div>
                </td>
                <td data-name="date">13.05.2020</td>
                <td data-name="performer">Lorem, ipsum dolor.</td>
                <td data-name="task-count"><a href="">Задачі:4</a></td>
                <td data-name="tools">
                    <div class="td-wrapper">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" />
                        </div>
                        <i class="fa fa-cloud-download"></i>
                    </div>
                </td>
            </tr>
            <tr class="table-row">
                <td>
                    <div class="td-wrapper">
                        <img src="./img/docs-img/zip.png" alt="" />
                        <span class="name">
                            Lorem ipsum dolor, sit
                        </span>
                        <span class="extension">
                            .pdf
                        </span>
                    </div>
                </td>
                <td data-name="date">13.05.2020</td>
                <td data-name="performer">Lorem, ipsum dolor.</td>
                <td data-name="task-count"><a href="">Задачі:4</a></td>
                <td data-name="tools">
                    <div class="td-wrapper">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" />
                        </div>
                        <i class="fa fa-cloud-download"></i>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="footer">
    <div class="filter-group">
        <div class="sort dropdown" id="sortByDepartment">
            <button role="button" id="sort-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Департамент: <span id="selected-option">Усі</span>
                <i class="fas fa-caret-down"></i>
            </button>

            <div class="dropdown-menu" aria-labelledby="sort-options">
                <button class="dropdown-item" href="#">Action</button>
                <button class="dropdown-item" href="#">Action</button>
                <button class="dropdown-item" href="#">Action</button>
                <button class="dropdown-item" href="#">Action</button>
                <button class="dropdown-item" href="#">Action</button>
                <button class="dropdown-item" href="#">Action</button>
                <button class="dropdown-item" href="#">Action</button>
                <button class="dropdown-item" href="#">Action</button>
                <button class="dropdown-item" href="#">Action</button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" href="#">Усі</button>
            </div>
        </div>
        <button class="filter-toggle">
            Фильтр <i class="fas fa-sort"></i>
        </button>
    </div>
    <div class="pagination">
        <span role="button" class="page-num active">1</span>
        <span role="button" class="page-num">2</span>
        <span role="button" class="page-num">3</span>
        <span role="button" class="page-num last-page">...31</span>
        <button class="page-num next-page">
            <i class="fal fa-chevron-right"></i>
        </button>
    </div>
</div>