<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    {{> alerts}}
    {{> modals}}

    <span class="copy">
        <span class="m-3"> Beta 1.2.0 </span>
        &copy; &nbsp; 37 Web Production
    </span>

    {{> navbar}}

    <div class="content-wrapper">
        <div class="content" id="root">

        </div>
    </div>

    {{> templates}}
    {{> scripts}}
</body>

</html>