<div class="nav-rail">
    <div class="wrapper">
        <div>
            <div class="profile">
                <div role="button" title="Завантажити фото" data-event="profileImg" class="picture">
                    <img src="./img/avatars/Picture.png" alt="" />
                </div>
                <div class="initial">M</div>
            </div>
            <div class="nav-items nav-top">
                <svg title="Дошки" data-event="boards" class="nav-item" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16">
                    <path id="Icon_material-dashboard" data-name="Icon material-dashboard"
                        d="M4.5,13.389h7.111V4.5H4.5Zm0,7.111h7.111V15.167H4.5Zm8.889,0H20.5V11.611H13.389Zm0-16V9.833H20.5V4.5Z"
                        transform="translate(-4.5 -4.5)" />
                </svg>
                <i title="Файли" data-event="files" class="nav-item fa fa-folder"></i>
                <i title="Статистика" data-event="charts" class="nav-item fa fa-chart-bar"></i>
            </div>
        </div>
        <div class="divider"></div>
        <div class="nav-items nav-bottom">
            <i title="Панель управління" data-event="clPanel" class="nav-item fa fa-wrench"></i>
            <i title="Налаштування" data-event="settings" class="nav-item fas fa-cog"></i>
        </div>
    </div>
</div>

<div class="nav-rail mobile">
    <div class="nav-items">
        <svg class="nav-item" data-event="boards" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path id="Icon_material-dashboard" data-name="Icon material-dashboard"
                d="M4.5,13.389h7.111V4.5H4.5Zm0,7.111h7.111V15.167H4.5Zm8.889,0H20.5V11.611H13.389Zm0-16V9.833H20.5V4.5Z"
                transform="translate(-4.5 -4.5)" />
        </svg>
        <i class="nav-item fa fa-folder" data-event="files"></i>
        <i class="nav-item fa fa-chart-bar" data-event="charts"></i>
    </div>
    <div class="profile">
        <div role="button" class="picture" data-event="profileImg">
            <img src="./img/avatars/Picture.png" alt="" />
        </div>
    </div>
    <div class="nav-items">
        <i class="nav-item"></i>
        <i class="nav-item fa fa-wrench" data-event="clPanel"></i>
        <i class="nav-item fas fa-cog" data-event="settings"></i>
    </div>
</div>