@import "./reset.css";
@import "../fonts/fonts-manager.css";
@import "../icons/font-icons/css/all.css";
@import "../libs/bootstrap-4.5.2/dist/css/bootstrap.css";
body {
  font-family: "Roboto regular", "Heltevica regular", "Opensans regular",
    "Noto regular";
}

button {
  border: none;
  background: transparent;
  padding: 0px;
  margin: 0px;
}
button:focus {
  outline: none;
  border: none;
}

input {
  border: none;
  background: transparent;
  padding: 0px;
  margin: 0px;
  width: auto;
}
input:focus {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c5c5c5;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

[data-amount] {
  position: relative;
}
[data-amount]::before {
  content: attr(data-amount);
  display: block;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #f44336;
  color: #fff;
  font-size: 10px;
  right: -8px;
  top: -2px;
  border: 1px solid #fff;
}

.copy {
  color: rgba(67, 78, 106, 0.35);
  position: absolute;
  bottom: 2px;
  right: 40px;
  font-size: 12px;
  z-index: 2;
  font-family: "Roboto medium";
}

.auth-wrapper {
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
}
.auth-wrapper .auth-form {
  margin: 0px auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.auth-wrapper .auth-form .title {
  font-size: 18px;
  font-family: "Opensans regular";
  color: #434e6a;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.auth-wrapper .auth-form .title::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #f44336;
  width: 45px;
  position: absolute;
  top: 50px;
}
.auth-wrapper .auth-form .auth-control {
  text-align: center;
  border-bottom: 1px solid #babfcc;
  transition: 200ms;
  font-size: 14px;
  padding: 15px;
  width: 180px;
}
.auth-wrapper .auth-form .auth-control:focus {
  border-color: #f44336;
}
.auth-wrapper .auth-form .auth-control[type="email"] {
  width: 100%;
}
.auth-wrapper .auth-form .form-group {
  display: flex;
}
.auth-wrapper .auth-form .form-group:not(:last-child) {
  margin-top: 40px;
}
.auth-wrapper .auth-form .form-group .auth-control:nth-child(1) {
  margin-right: 10px;
}
.auth-wrapper .auth-form .form-group .auth-control:nth-child(2) {
  margin-left: 10px;
}
.auth-wrapper .auth-form .form-check {
  color: rgba(67, 78, 106, 0.95);
  font-size: 14px;
  vertical-align: middle;
}
.auth-wrapper .auth-form .form-check input {
  height: 15px;
  width: 15px;
}
.auth-wrapper .auth-form .form-check label {
  margin-left: 10px;
  margin-top: 2px;
}
.auth-wrapper .auth-form button[type="submit"] {
  width: 100%;
  padding: 14px;
  background-color: #f44336;
  color: #fff;
  margin-top: 40px;
  border-radius: 5px;
}
.auth-wrapper .auth-form a {
  font-size: 14px;
  margin-top: 10px;
  text-decoration: underline;
}

.nav-rail {
  background-color: #434e6a;
  position: fixed;
  z-index: 2;
  width: 50px;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
}
.nav-rail .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
  flex-grow: 1;
}
.nav-rail .wrapper .divider {
  flex-grow: 1;
}
.nav-rail .profile {
  padding: 20px 10px;
  color: #d1d6e1;
  background-color: rgba(209, 214, 225, 0.05);
  text-align: center;
  font-family: "Opensans regular";
  margin-bottom: 20px;
}
.nav-rail .profile .picture {
  position: relative;
  display: flex;
  justify-content: center;
}
.nav-rail .profile .picture:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #1bc943;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  top: 24px;
}
.nav-rail .profile img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.nav-rail .profile .initial {
  margin-top: 15px;
}
.nav-rail .nav-items {
  padding: 0px 10px;
  text-align: center;
  color: rgba(209, 214, 225, 0.65);
  fill: rgba(209, 214, 225, 0.65);
}
.nav-rail .nav-items svg.nav-item {
  height: 18px;
  width: 18px;
}
.nav-rail .nav-items .nav-item {
  font-size: 18px;
  transition: all 200ms ease;
}
.nav-rail .nav-items .nav-item.active {
  color: #d1d6e1;
  fill: #d1d6e1;
}
.nav-rail .nav-items .nav-item:hover {
  color: #d1d6e1;
  fill: #d1d6e1;
}
.nav-rail .nav-items.nav-bottom .nav-item:not(:last-child) {
  margin-bottom: 20px;
}
.nav-rail .nav-items.nav-top .nav-item:not(:first-child) {
  margin-top: 20px;
}
.nav-rail.mobile {
  display: none;
  top: auto;
  left: 0;
  bottom: 0px;
  height: 40px;
  width: 100%;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .nav-rail {
    display: none;
  }
  .nav-rail.mobile {
    display: flex;
  }
  .nav-rail.mobile .profile {
    background: transparent;
    margin: 0 auto;
    margin-top: -35px;
  }
  .nav-rail.mobile .profile .picture img {
    width: 45px;
    height: 45px;
    border: 2px solid #fff;
  }
  .nav-rail.mobile .profile .picture::after {
    top: 38px;
    width: 12px;
    height: 12px;
  }
  .nav-rail.mobile .nav-items {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: baseline;
    text-align: left;
  }
  .nav-rail.mobile .nav-items .nav-item {
    margin: 0px 15px;
    font-size: 22px;
  }
}

.content-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0px 30px 0px 0px;
  z-index: 1;
  background-color: #d7dbe3;
}
.content-wrapper .content {
  flex-grow: 1;
  margin: 20px 0px;
  background-color: #fff;
  padding: 20px;
  margin-left: 80px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;

  opacity: 0;
  transition: opacity 200ms;
}
.content-wrapper .content .tool-bar {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}
.content-wrapper .content .tool-bar .item {
  font-size: 14px;
  color: rgba(244, 67, 54, 0.7);
  transition: 200ms;
  font-family: "Roboto regular";
}
.content-wrapper .content .tool-bar .item:hover {
  color: #f44336;
}
.content-wrapper .content .tool-bar .item.active {
  color: #f44336;
}
.content-wrapper .content .tool-bar .item i {
  margin-left: 15px;
}
.content-wrapper .content .tool-bar .item:not(:first-child) {
  margin-left: 50px;
}
.content-wrapper .content .tool-bar .notifications {
  font-size: 20px;
  color: rgba(67, 78, 106, 0.5);
  margin-right: 80px;
  transition: 200ms;
  position: relative;
}
.content-wrapper .content .tool-bar .notifications .notifications-wrapper {
  display: none;
  position: absolute;
  top: 35px;
  transform: translateX(-2%);
  background-color: #fff;
  z-index: 5;
  box-shadow: 0 1px 4px rgba(67, 78, 106, 0.6);
  min-width: 300px;
  height: auto;
  color: rgba(67, 78, 106, 0.8);
  padding-top: 20px;
  font-size: 14px;
  cursor: auto;
}
.content-wrapper
  .content
  .tool-bar
  .notifications
  .notifications-wrapper
  .title {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.content-wrapper
  .content
  .tool-bar
  .notifications
  .notifications-wrapper
  .title
  i {
  color: rgba(67, 78, 106, 0.5);
  transition: 200ms;
}
.content-wrapper
  .content
  .tool-bar
  .notifications
  .notifications-wrapper
  .title
  i:hover {
  color: rgba(67, 78, 106, 0.75);
}
.content-wrapper
  .content
  .tool-bar
  .notifications
  .notifications-wrapper
  .notifications-list {
  margin: 20px 0px;
  max-height: 360px;
  overflow-y: auto;
  padding: 0 40px;
}
.content-wrapper
  .content
  .tool-bar
  .notifications
  .notifications-wrapper
  .notifications-list
  .notification {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}
.content-wrapper
  .content
  .tool-bar
  .notifications
  .notifications-wrapper
  .notifications-list
  .notification:not(:last-child) {
  margin-bottom: 15px;
}
.content-wrapper
  .content
  .tool-bar
  .notifications
  .notifications-wrapper
  .notifications-list
  .notification
  img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-right: 20px;
}
.content-wrapper
  .content
  .tool-bar
  .notifications
  .notifications-wrapper
  .notifications-list
  .notification
  .body {
  font-size: 13px;
}
.content-wrapper
  .content
  .tool-bar
  .notifications
  .notifications-wrapper
  .notifications-list
  .notification
  .body
  .msg {
  text-align: start;
}
.content-wrapper
  .content
  .tool-bar
  .notifications
  .notifications-wrapper
  .notifications-list
  .notification
  .body
  .msg
  a {
  text-decoration: underline;
}
.content-wrapper
  .content
  .tool-bar
  .notifications
  .notifications-wrapper
  .notifications-list
  .notification
  .body
  .meta {
  text-align: start;
  font-size: 11px;
  margin-top: 5px;
  color: rgba(67, 78, 106, 0.7);
}
.content-wrapper .content .tool-bar .notifications:hover {
  color: rgba(67, 78, 106, 0.75);
}
.content-wrapper .content .tool-bar .notifications.active {
  color: rgba(67, 78, 106, 0.75);
}
.content-wrapper .content .tool-bar .collapse-bar {
  display: flex;
  align-items: center;
  width: 100%;
}
.content-wrapper .content .tool-bar .collapse-bar .toggle-btn {
  display: none;
  font-size: 20px;
  color: rgba(67, 78, 106, 0.5);
  transition: 200ms;
}
.content-wrapper .content .tool-bar .collapse-bar .toggle-btn:hover {
  color: rgba(67, 78, 106, 0.75);
}
.content-wrapper .content .tool-bar .collapse-bar .body {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
@media screen and (max-width: 1150px) {
  .content-wrapper .content .tool-bar {
    justify-content: space-between;
  }
  .content-wrapper .content .tool-bar .collapse-bar {
    display: flex;
    align-items: center;
    position: relative;
    width: auto;
  }
  .content-wrapper .content .tool-bar .collapse-bar .toggle-btn {
    display: block;
  }
  .content-wrapper .content .tool-bar .collapse-bar .body {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 3;
    top: 40px;
    min-width: 200px;
    transform: translateX(-90%);
    box-shadow: 0 1px 4px rgba(67, 78, 106, 0.6);
    padding: 20px 20px 0px 20px;
    background-color: #fff;
  }
  .content-wrapper .content .tool-bar .collapse-bar .body .item {
    margin: 0px;
    text-align: start;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
    font-size: 15px;
  }
}
.content-wrapper .content .body {
  flex-grow: 1;
  overflow-y: auto;
}
.content-wrapper .content .body table {
  width: 100%;
  border-collapse: collapse;
}
.content-wrapper .content .body table tr {
  cursor: pointer;
  transition: all 100ms;
}
.content-wrapper .content .body table tr:hover {
  background-color: #d8ddeb;
  box-shadow: 0px 0px 4px rgba(67, 78, 106, 0.8);
}
.content-wrapper .content .body table tr.active {
  background-color: #d8ddeb;
  box-shadow: 0px 0px 4px rgba(67, 78, 106, 0.8);
}
.content-wrapper .content .body table td {
  color: rgba(67, 78, 106, 0.8);
  font-size: 15px;
  padding: 15px;
  vertical-align: middle;
}
.content-wrapper .content .body table td:last-child {
  text-align: right;
}
.content-wrapper .content .body table td:not(:last-child) {
  padding-right: 20px;
}
.content-wrapper .content .body table td .td-wrapper {
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: visible;
  text-overflow: ellipsis;
  width: 420px;
  height: auto;
}
.content-wrapper .content .body table td[data-name="tools"] .td-wrapper {
  display: flex;
  align-items: center;
  width: auto;
  justify-content: flex-end;
}
.content-wrapper .content .body table td[data-name="tools"] .td-wrapper i {
  transition: 100ms;
  font-size: 17px;
}
.content-wrapper
  .content
  .body
  table
  td[data-name="tools"]
  .td-wrapper
  i:hover {
  color: rgba(244, 67, 54, 0.7);
}
.content-wrapper .content .body table td img {
  width: 25px;
  height: 30px;
  margin-right: 20px;
  margin-top: -8px;
  object-fit: cover;
  object-position: center;
}
.content-wrapper .content .body table td .form-check-input {
  margin-right: 40px;
  height: 16px;
  width: 16px;
}
@media screen and (max-width: 1150px) {
  .content-wrapper .content .body table [data-name="performer"] {
    display: none;
  }
  .content-wrapper .content .body table [data-name="task-count"] {
    display: none;
  }
  .content-wrapper .content .body table .td-wrapper {
    max-width: 300px;
  }
}
@media screen and (max-width: 676px) {
  .content-wrapper .content .body table .td-wrapper {
    max-width: 150px;
  }
}
.content-wrapper .content .footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}
.content-wrapper .content .footer .filter-group {
  display: flex;
  align-items: baseline;
}
.content-wrapper .content .footer .filter-group .sort button {
  color: #575d73;
  font-size: 14px;
}
.content-wrapper .content .footer .filter-group .sort button i {
  margin-left: 10px;
  color: #7e86a1;
}
.content-wrapper .content .footer .filter-group .sort button #selected-option {
  color: #7e86a1;
}
.content-wrapper .content .footer .filter-group .sort .dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
  margin: 10px;
}
.content-wrapper
  .content
  .footer
  .filter-group
  .sort
  .dropdown-menu
  .dropdown-item {
  transition: 100ms;
  padding: 5px 40px;
  margin: 10px 0px;
}
.content-wrapper
  .content
  .footer
  .filter-group
  .sort
  .dropdown-menu
  .dropdown-item:hover {
  background-color: #007bff;
  color: #fff;
}
.content-wrapper .content .footer .filter-group .filter-toggle {
  margin-left: 40px;
  color: #575d73;
  font-size: 14px;
}
.content-wrapper .content .footer .filter-group .filter-toggle i {
  margin-left: 10px;
  color: #7e86a1;
}
@media screen and (max-width: 576px) {
  .content-wrapper .content .footer .filter-group * {
    font-size: 12px;
  }
  .content-wrapper .content .footer .filter-group .filter-toggle {
    margin-left: 15px;
    font-size: 12px;
  }
  .content-wrapper .content .footer .filter-group .sort {
    font-size: 12px;
  }
}
.content-wrapper .content .footer .pagination {
  display: flex;
  align-items: center;
}
.content-wrapper .content .footer .pagination .page-num {
  cursor: pointer;
  font-size: 14px;
  color: #7e86a1;
  transition: 200ms;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.content-wrapper .content .footer .pagination .page-num:not(:last-child) {
  margin-right: 10px;
}
.content-wrapper
  .content
  .footer
  .pagination
  .page-num:not(.active):not(.last-page):not(.next-page):hover {
  background-color: #f44336;
  color: #fff;
}
.content-wrapper .content .footer .pagination .page-num.active {
  background-color: #f44336;
  color: #fff;
}
.content-wrapper .content .footer .pagination .page-num.next-page {
  font-size: 16px;
  margin-top: -1px;
}
.content-wrapper .content .footer .pagination .page-num.next-page:hover {
  color: #f44336;
}
.content-wrapper .content .footer .pagination .page-num.last-page:hover {
  color: #f44336;
}
@media screen and (max-width: 576px) {
  .content-wrapper .content .footer .pagination .page-num {
    font-size: 12px;
    width: 21px;
    height: 21px;
  }
  .content-wrapper .content .footer .pagination .page-num:not(:last-child) {
    margin-right: 4px;
  }
  .content-wrapper .content .footer .pagination .page-num.next-page {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  .content-wrapper {
    padding: 0px;
    overflow-y: auto;
  }
  .content-wrapper .content {
    margin: 0px;
    padding: 20px 10px;
    margin-bottom: 60px;
  }
  .content-wrapper .content .body table td {
    padding: 15px 0px;
  }
}
